version: '3'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - app-network


  broker:
    image: confluentinc/cp-kafka:7.0.1
    container_name: broker
    ports:
      - "9092:9092"
      - "29092:29092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092,PLAINTEXT_INTERNAL://localhost:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_NUM_PARTITIONS: 2
    networks:
      - app-network

  consumer-1:
    image: kafka-consumer:1.19
    container_name:  consumer-1
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      BOOTSTRAP_SERVER: 'broker:9092'
      TOPIC_NAME: 'mytopic'
      CONSUMER_GROUP: 'KafkaConsumer1'
    depends_on:
      - broker
    networks:
      - app-network

  consumer-2:
    image: kafka-consumer:1.19
    container_name: consumer-2
    ports:
      - "8084:8084"
    environment:
      SERVER_PORT: 8084
      BOOTSTRAP_SERVER: 'broker:9092'
      TOPIC_NAME: 'mytopic'
      CONSUMER_GROUP: 'KafkaConsumer1'
    depends_on:
      - broker
    networks:
      - app-network

  consumer-3:
    image: kafka-consumer:1.19
    container_name: consumer-3
    ports:
      - "8085:8085"
    environment:
      SERVER_PORT: 8085
      BOOTSTRAP_SERVER: 'broker:9092'
      TOPIC_NAME: 'mytopic'
      CONSUMER_GROUP: 'KafkaConsumer1'
    depends_on:
      - broker
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
